.Pagination-parent {
  overflow: hidden;
  span {
    margin: 10px;
    padding: 8px;
    border-radius: 4px;
    img {
      height: 300px;
      width: 250px;
      object-fit: contain;
    }
  }

  .pagination-container{
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    margin-inline: auto;
    margin-block : 20px;
    div{
        background-color: black;
        color: white;
        padding : 10px;
        border-radius: 8px;
        .active {
            background-color: white;
            color: black;
        }
    }
  }
}
